body {
  margin: 0;
  font-family: BwSeidoRound, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: gainsboro;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: BwSeidoRound;
  src: url(./public/fonts/389947_6_0.eot);
  src: url(./public/fonts/389947_6_0.eot?#iefix) format("embedded-opentype"),url(./public/fonts/389947_6_0.woff2) format("woff2"),url(./public/fonts/389947_6_0.woff) format("woff"),url(./public/fonts/389947_6_0.ttf) format("truetype");
  font-weight: 500;
  font-style: normal
}

.header {
  font-size: 3em;
  line-height: 1.25;
  font-weight: 900;
  font-family: BwSeidoRound,sans-serif;
}

.header-banner {
  color: #24272a;
  background-color: #f0ec74;
}

.near-btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  border-radius: 9999px;
  font-weight: 900;
  font-family: BwSeidoRound,sans-serif;
  line-height: 20px;
  font-size: 14px;
  background-color: #ff585d;
  color: #fff;
  text-align: center;
  transition: .2s;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.near-btn:disabled, .disabled{
  background-color: grey;
  cursor: default;
}

.w-1\/10 {
  width: 10%;
}

img.meme{
  width: 150px;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

img.meme:hover{
  width: 500px;
}

.header-banner .title{
  font-size: 24px
}

.backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
}

.meme-proposal{
  white-space: nowrap;
}

.modal{
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  max-height: 180px;
  margin: 0 auto;
  padding: 30px
}

.modal .close{
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal input{
  border-style: solid;
  border-width: 2px;
  padding: 2px 5px;
}

.modal div{
  padding-bottom: 10px
}

.meme-title {
    font-size: 32px!important;
}

.navbar{
  position: fixed;
  width: 100%;
  top: 0;
}

.form-container{
  margin-top: 52px;
  width:100%
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  float: left;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #ff585d75;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar-right {
  padding: 10px;
  width: 300px;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
  float: right;
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
  width: calc(100% - 510px);
  float: left;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
    padding: 15px;
  }
  div.content {margin-left: 0;}

  .sidebar-right {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar-right a { text-align: center;
    float: none;}
  div.content {margin-left: 0; margin-right: 0;  width: 100%;}
  .meme {width:100%}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  div.content{
    width: 100%;
  }
}

.withdrawals-table{
  max-width: 800px;
}